
<div class="weadmin-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>任务名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">佣金</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="description" name="description"  class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">做单要求</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="content" name="content"  class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="upload_image_button">上传图片</button>
                <input type="hidden" id="imageData" name="imageData" value=""/>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="upload_image_preview">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>

        <div class="layui-form-item" hidden>
            <button  class="layui-btn" lay-filter="add_task_form" id="add_task_form" lay-submit="">增加</button>
        </div>
    </form>
</div>

<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            url: "/task/add",
            elem: '#upload_image_button'
            ,size: 4096
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#upload_image_preview').attr('src', result); //图片链接（base64）
                    $('#imageData').attr("value",result)
                });
            }
        });
    });
</script>