
<div class="weadmin-body">
    <form class="layui-form" onkeydown="if(event.keyCode===13)return false;">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>任务名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="${task.name}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">佣金</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="description" name="description" class="layui-textarea">${task.description}</textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">做单要求</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="content" name="content" class="layui-textarea">${task.content}</textarea>
            </div>
        </div>
        <div class="layui-form-item" hidden>
            <input type="text" class="layui-input" value="${task.id}" id="taskId" name="taskId"/>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1" src = ${task.imageData}>
                    <p id="demoText"></p>
                </div>
            </div>
        </div>

        <div class="layui-form-item" hidden>
            <button  class="layui-btn" lay-filter="update" lay-submit="" id="task_edit_submit">确认</button>
        </div>
    </form>
</div>