<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加管理员-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>任务名称:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="${task.name}" readonly = "true">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">佣金:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="description" name="description" class="layui-textarea" readonly = "true">${task.description}</textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">做单要求:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="content" name="content" class="layui-textarea" readonly = "true">${task.content}</textarea>
            </div>
        </div>
        <div class="layui-form-item" hidden>
            <input type="text" class="layui-input" value="${task.id}" id="taskId" name="taskId"/>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">图片:</label>
            <div class="layui-input-block">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1" src = "${task.imageData!'null'}">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.extend({
        admin: '{/}../../js/admin'
    }).use(['form','layer','admin']);
</script>
</body>

</html>