<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>管理员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/css/font.css">
		<link rel="stylesheet" href="/css/weadmin.css">
		<link rel="stylesheet" href="/i_ft/iconfont.css">

		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<div class="weadmin-body">
			<table id="LAY-task-list" lay-filter="LAY-task-list"></table>
			<script type="text/html" id="table-task-list">
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="i_ft i-lingqu"></i> 领取任务</a>
				<a class="layui-btn layui-btn-info layui-btn-xs" lay-event="info"><i class="i_ft i-xiangqing"></i> 详情</a>
			</script>
		</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/date-format.js" type="text/javascript" charset="utf-8"></script>
<script>
	layui.use(['table','jquery','layer'], function () {
		var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var jquery = layui.jquery;
		table.render({
			elem: "#LAY-task-list",
			url: "/api/tasks/list",
			page: true, //开启分页
			cols: [
				[
				// {
				// 	type: "checkbox", fixed: "left"
				// },
					{
					field: "id", width: 80, title: "ID", sort: !0 ,hide:true
				}, {
					field: "name", title: "任务名称"
				}, {
					field: "creatorName", title: "创建人"
				},  {
					field: "content", title: "任务内容"
				},{
					field: "description", title: "任务描述"
				},{
                    field: "createTime", title: "创建时间" , templet: '<div>{{ Format(d.createTime,"yyyy-MM-dd hh:mm:ss")}}</div>'
                },{
                    field: "remainderCount", title: "剩余个数"
                },{
					title: "操作",
					width: 200,
					align: "center",
					fixed: "right",
					toolbar: "#table-task-list"
				}]
			],
			text: "对不起，加载出现异常！"
		});
        table.on("tool(LAY-task-list)", function (e) {
            if ("edit" === e.event) {
                layer.confirm("确认领取任务？", function (t) {
                    jquery.ajax({
                        type: 'POST',
                        url: "/api/tasks/receive/" + e.data.id,
                        success: function (data, textStatus, jqXHR) {
                            if (data.code == "200") {
                                e.del(), layer.close(t)
                            } else {
                                layer.open({content: data.message, shade: [0.8, '#393D49']});
                            }
                        },
                        dataType: "json"
                    });
                });
            }else if("info" === e.event){
                layer.open({
                    type: 2,
                    title: "任务详情",
                    content: "/task/info?taskId=" + e.data.id,
                    area: ["800px", "90%"],
                    yes: function (index, layero) {
                    },
                    success: function (e, t) {
                    }
                })
            }
        });
	});
</script>
	</body>

</html>