
<div class="weadmin-body">
	<table id="LAY-my-task" lay-filter="LAY-my-task"></table>
	<script type="text/html" id="table-my-task">
		{{#  if(d.status == 0){ }}
		 <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="i_ft i-querenyuanzhengqueduigoutijiaochenggongwancheng"></i> 点击完成任务</a>
		{{#  } else { }}
		<a class="layui-btn-xs" ><i class="layui-icon"></i>已完成</a>
		{{#  } }}
		<a class="layui-btn layui-btn-info layui-btn-xs" lay-event="info"><i class="i_ft i-xiangqing"></i> 详情</a>
	</script>
</div>

<script>
	layui.use(['table','jquery','layer'], function () {
		var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var jquery = layui.jquery;
		table.render({
			elem: "#LAY-my-task",
			url: "/api/tasks/user/list",
			page: true, //开启分页
			cols: [
				[
				//     {
				// 	type: "checkbox", fixed: "left"
				// },
					{
					field: "id", width: 80, title: "ID", sort: !0 ,hide:true
				}, {
					field: "name", title: "任务名称"
				}, {
					field: "creatorName", title: "主持"
				},  {
					field: "content", title: "做单要求"
				},{
					field: "description", title: "佣金"
				},{
                    field: "createTime", title: "创建时间" , templet: '<div>{{ Format(d.createTime,"yyyy-MM-dd hh:mm:ss")}}</div>'
                },{
					title: "操作",
					width: 200,
					align: "center",
					fixed: "right",
					toolbar: "#table-my-task"
				}]
			],
			text: "对不起，加载出现异常！"
		});
        table.on("tool(LAY-my-task)", function (e) {
            if ("edit" === e.event) {
                layer.confirm("确认完成任务？", function (t) {
                    jquery.ajax({
                        type: 'POST',
                        url: "/api/tasks/complete/" + e.data.id,
                        success: function (data, textStatus, jqXHR) {
                            if (data.code == "200") {
                                e.del(), layer.close(t)
                            } else {
                                layer.open({content: data.message, shade: [0.8, '#393D49']});
                            }
                        },
                        dataType: "json"
                    });
                });
            }else if("info" === e.event){

                $.ajax({
                    type: 'GET',
                    url: "/task/info?taskId=" + e.data.id,
                    async: false,
                    success: function (data) {
                        layer.open({
                            type: 1,
                            title: "任务详情",
                            content: data,
                            area: ["800px", "90%"],
                            yes: function (index, layero) {
                            },
                            success: function (e, t) {
                            }
                        })
                    }
                });


            }
        });
	});
</script>