
<div class="weadmin-body">
	<table id="LAY-apply-list" lay-filter="LAY-apply-list"></table>
	<script type="text/html" id="table-apply-list">
		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="i_ft i-querenyuanzhengqueduigoutijiaochenggongwancheng"></i>通过</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="i_ft i-jujue"></i> 拒绝</a>
	</script>
</div>

<script>
	var asdlfjasdf = 'asdfasdf'
	layui.use(['table','jquery','layer'], function () {
		var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var jquery = layui.jquery;
		table.render({
			elem: "#LAY-apply-list",
			url: "/api/users/applys",
			where: {
			    type: asdlfjasdf
			},
			page: true, //开启分页
			cols: [
				[ {
                    field: "id", width: 80, title: "ID", hide:true
                }, {
                    field: "username", title: "用户名"
                }, {
                    field: "phone", title: "手机号"
                }, {
                    field: "groupName", title: "所属组"
                }, {
                    field: "roleDescription", title: "角色"
                },{
                    field: "createTime", title: "创建时间"  , templet: '<div>{{ Format(d.createTime,"yyyy-MM-dd hh:mm:ss")}}</div>'
                },{
					title: "操作",
					width: 150,
					align: "center",
					fixed: "right",
					toolbar: "#table-apply-list"
				}]
			],
			text: "对不起，加载出现异常！"
		});
        table.on("tool(LAY-apply-list)", function (e) {
            if ("edit" === e.event) {
                layer.open({
                    type: 2,
                    title: "权限编辑",
                    content: "/user/adminEdit?userId=" + e.data.id,
                    area: ["800px", "350px"],
                    btn: ["确定", "取消"],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe'+ index];
                        //监听提交
                        iframeWindow.layui.form.on('submit(update)', function(data){
                            var field = data.field; //获取提交的字段
                            jquery.ajax({
                                type: 'PUT',
                                url: "/api/users",
                                data: JSON.stringify({
                                    "id": field.userId,
                                    "roleId": field.roleId,
                                    "groupId": field.groupId,
									"status": 0
                                }),
                                contentType: 'application/json',
                                success: function (data, textStatus, jqXHR) {
                                    if (data.code == "200") {
                                        table.reload('LAY-apply-list'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    } else {
                                        layer.close(index); //关闭弹层
                                        layer.open({content: data.message, shade: [0.8, '#393D49']});
                                    }
                                },
                                dataType: "json"
                            });
                        });

                        iframeWindow.layui.jquery("#admin_edit_submit").click()
                    },
                    success: function (e, t) {
                    }
                })
            }else if ("del" === e.event) {
                layer.confirm("确认拒绝权限？", function (t) {
                    jquery.ajax({
                        type: 'POST',
                        url: "/api/users/apply/refuse/" + e.data.id,
                        success: function (data, textStatus, jqXHR) {
                            if (data.code == "200") {
                                e.del(), layer.close(t)
                            } else {
                                layer.open({content: data.message, shade: [0.8, '#393D49']});
                            }
                        },
                        dataType: "json"
                    });
                });
            }
        });
	});
</script>