<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>管理员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-body">
    <div class="weadmin-block">
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="WeAdminShow('添加用户','/user/add')"><i class="layui-icon"></i>添加</button>
    </div>
    <table id="LAY-user-list" lay-filter="LAY-user-list"></table>
    <script type="text/html" id="table-user-list">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
    </script>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.config({ base: '{/}/js/', version: '101100'});
    layui.use(['table','jquery','layer'], function () {
        var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var jquery = layui.jquery;
        table.render({
            elem: "#LAY-user-list",
            url: "/api/userGroups/${groupId}/users",
            page: true, //开启分页
            cols: [
                [{
                    type: "checkbox", fixed: "left"
                }, {
                    field: "id", width: 80, title: "ID", hide:true
                }, {
                    field: "username", title: "用户名"
                }, {
                    field: "phone", title: "手机号"
                }, {
                    field: "groupName", title: "所属组"
                }, {
                    field: "roleName", title: "角色"
                },{
                    field: "createTime", title: "创建时间"
                },{
                    title: "操作",
                    width: 150,
                    align: "center",
                    fixed: "right",
                    toolbar: "#table-user-list"
                }]
            ],
            text: "对不起，加载出现异常！"
        });
        table.on("tool(LAY-user-list)", function (e) {
            if ("del" === e.event) {
                layer.confirm("确认删除？", function (t) {
                    jquery.ajax({
                        type: 'DELETE',
                        url: "/api/users/" + e.data.id,
                        success: function (data, textStatus, jqXHR) {
                            if (data.code == "200") {
                                e.del(), layer.close(t)
                            } else {
                                layer.open({content: data.message, shade: [0.8, '#393D49']});
                            }
                        },
                        dataType: "json"
                    });
                });
            }
            else if ("edit" === e.event) {
                layer.open({
                    type: 2,
                    title: "编辑用户",
                    content: "/user/edit",
                    maxmin: !0,
                    area: ["500px", "450px"],
                    btn: ["确定", "取消"],
                    yes: function (e, t) {
                        var l = window["layui-layer-iframe" + e], r = "LAY-user-front-submit",
                            n = t.find("iframe").contents().find("#" + r);
                        l.layui.form.on("submit(" + r + ")", function (t) {
                            t.field;
                            i.reload("LAY-user-front-submit"), layer.close(e)
                        }), n.trigger("click")
                    },
                    success: function (e, t) {
                    }
                })
            }
        });
    });
</script>
</body>

</html>