<div class="weadmin-body">
    <form class="layui-form" onkeydown="if(event.keyCode===13)return false;">
        <div class="layui-form-item">
            <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
                   for="phone"></label>
            <input type="text" name="phone" id="phone" lay-verify="phone" placeholder="手机"
                   class="layui-input" value="${user.phone}">
        </div>
        <div class="layui-form-item">
            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                   for="oldPwd"></label>
            <input type="password" name="oldPwd" id="oldPwd" lay-verify="pass" placeholder="旧密码"
                   class="layui-input">
        </div>
        <div class="layui-form-item">
            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                   for="password"></label>
            <input type="password" name="password" id="password" lay-verify="required" placeholder="新密码"
                   class="layui-input">
        </div>
        <div class="layui-form-item" hidden>
            <input type="text" class="layui-input" value="${user.id}" id="userId" name="userId"/>
        </div>
        <div class="layui-form-item" hidden>
            <button  class="layui-btn" lay-filter="user_edit_ok" lay-submit="" id="user_edit_ok">确认</button>
        </div>
    </form>
</div>