<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台管理-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/weadmin.css">
    <link rel="stylesheet" href="/i_ft/iconfont.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script src="/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/date-format.js" type="text/javascript" charset="utf-8"></script>

</head>

<body id="tab-body">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo" id="logo-wrap">
        <i class="i_ft i-daohang"></i>
        <a><span class="welcome-text">欢迎使用</span>任务接单系统</a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"><span class="name">${USER_ATTR.username}</span></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a id="user_info">个人信息</a>
                </dd>
                <dd>
                    <a class="loginout" href="/api/logout">退出</a>
                </dd>
            </dl>
        </li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav" id="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="open">
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>任务管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu" style="display: block;">
                    <li>
                        <a _href="/task/list" id="task-lobby-a">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>任务大厅</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/task/mylist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的任务</cite>
                        </a>
                    </li>
                    <#if USER_ATTR.roleName == 'admin'|| USER_ATTR.roleName == 'general_admin'>
                        <li>
                            <a _href="/task/manager">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>任务管理</cite>
                            </a>
                        </li>
                    </#if>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/user/list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户组</cite>
                        </a>
                        <#if groupList?? && groupList?size!=0>
                        <ul class="sub-menu">
                            <#list groupList as group>
                            <li>
                                <a _href="/user/list?groupId=${group.id}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>${group.name}</cite>
                                </a>
                            </li>
                            </#list>
                        </ul>
                        </#if>
                    </li>
                    <#if USER_ATTR.roleName == 'general_user' && USER_ATTR.status != 1>
                        <li>
                            <a _href="/user/receive">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户权限申请</cite>
                            </a>
                        </li>
                    </#if>
                    <#if USER_ATTR.roleName == 'admin'|| USER_ATTR.roleName == 'general_admin'>
                        <li>
                            <a _href="/user/apply">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户权限审批</cite>
                            </a>
                        </li>
                    </#if>
                    <#if USER_ATTR.roleName == 'admin'>
                        <li>
                            <a _href="/group/list">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户组管理</cite>
                            </a>
                        </li>
                    </#if>
                </ul>
            </li>
        </ul>
    </div>
    <div id="close-left-nav" class="close-left-nav"></div>
</div>
<div id="imgPageContent">
    <div id="imgContainer">
        <div id="smartZoomContainer1544367234546" class="zoomableContainer" style="overflow: hidden; position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div id="closeImgButtom" class="close-img">×</div><img id="imageFullScreen" src="images/bg.png" style="transition: all 0s ease-out 0s; transform: translate3d(160px, 2.5px, 0px) scale3d(0.44, 0.44, 1); cursor: default; transform-origin: 0px 0px 0px; visibility: visible;"></div>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content" id="page-content">
    <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
        <ul class="layui-tab-title" id="tabName"></ul>
        <div class="layui-tab-content"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2018 任务接单系统</div>
</div>
<!-- 底部结束 -->
<script type="text/javascript">
    layui.config({ base: '{/}/js/', version: '101100'});
    layui.use(['jquery', 'admin'], function () {
        var $ = layui.jquery;
    });
</script>

<script type="text/javascript">
    layui.use(['table','jquery','layer'], function () {
        var table = layui.table;
        var $ = layui.$;
        window.jQuery = layui.jquery;
        var layer = layui.layer;
        var jquery = layui.jquery;
        jquery("#user_info").on("click", function () {
            jquery.ajax({
                type: 'GET',
                async: false,
                url: "/user/userEdit" + "?_t=" + new Date().getTime(),
                success: function (data) {
                    layer.open({
                        type: 1,
                        title: "修改个人信息",
                        content: data,
                        area: ["500px", "350px"],
                        btn: ["确定", "取消"],
                        yes: function (index) {
                            //监听提交
                            layui.form.on('submit(user_edit_ok)', function (data) {
                                jquery.ajax({
                                    type: 'PUT',
                                    url: "/api/users/info",
                                    contentType: 'application/json',
                                    data: JSON.stringify(
                                        data.field
                                    ),
                                    success: function (data, textStatus, jqXHR) {
                                        layer.close(index);
                                        layer.open({content: data.message, shade: [0.8, '#393D49']});
                                    },
                                });
                                // 取消自动刷新页面
                                return false;
                            });
                            layui.jquery("#user_edit_ok").click()
                        },
                        success: function (e, t) {
                        }
                    })
                },
            });
        });
        jquery("#logo-wrap").on("click", function(){
            jquery("#tab-body").toggleClass("mini-show")
        });
        if(window.innerWidth > 768){
            jquery("#tab-body").addClass("mini-show")
        }
        window.onresize = function(){
            if(window.innerWidth > 768){
                jquery("#tab-body").addClass("mini-show")
            } else {
                jquery("#tab-body").removeClass("mini-show")
            }
        }
        jquery("#close-left-nav").on('click', function(){
            jquery("#tab-body").removeClass("mini-show")
        });
        jquery("#task-lobby-a").click();
    });
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/imgShow.js"></script>
<script>

    $(document).ready(function() {

        $(document.body).on('click','.layui-upload-img',function(){
            var srcImg = $(this).attr('src');
            $('#imageFullScreen').attr('src',"");
            $('#imgPageContent').addClass('active');
            $('#imageFullScreen').smartZoom('destroy');
           setTimeout(function(){
               $('#imageFullScreen').attr('src',srcImg );
               $('#imageFullScreen').smartZoom({'containerClass':'zoomableContainer'});
           }, 300)
        });

        $('#closeImgButtom').off('click').on('click',function(){
            $('#imgPageContent').removeClass('active');
        });

        $('#imageFullScreen').smartZoom({'containerClass':'zoomableContainer'});

        // $('#topPositionMap,#leftPositionMap,#rightPositionMap,#bottomPositionMap').bind("click", moveButtonClickHandler);
        //
        // $('#zoomInButton,#zoomOutButton').bind("click", zoomButtonClickHandler);
        //
        //
        //
        // function zoomButtonClickHandler(e){
        //
        //     var scaleToAdd = 0.8;
        //
        //     if(e.target.id == 'zoomOutButton')
        //
        //         scaleToAdd = -scaleToAdd;
        //
        //     $('#imageFullScreen').smartZoom('zoom', scaleToAdd);
        //
        // }
        //
        // function moveButtonClickHandler(e){
        //
        //     var pixelsToMoveOnX = 0;
        //
        //     var pixelsToMoveOnY = 0;
        //
        //
        //
        //     switch(e.target.id){
        //
        //         case "leftPositionMap":
        //
        //             pixelsToMoveOnX = 50;
        //
        //             break;
        //
        //         case "rightPositionMap":
        //
        //             pixelsToMoveOnX = -50;
        //
        //             break;
        //
        //         case "topPositionMap":
        //
        //             pixelsToMoveOnY = 50;
        //
        //             break;
        //
        //         case "bottomPositionMap":
        //
        //             pixelsToMoveOnY = -50;
        //
        //             break;
        //
        //     }
        //
        //     $('#imageFullScreen').smartZoom('pan', pixelsToMoveOnX, pixelsToMoveOnY);
        //
        // }

    });

</script>
<!--Tab菜单右键弹出菜单-->
<ul class="rightMenu" id="rightMenu">
    <li data-type="fresh">刷新</li>
    <li data-type="current">关闭当前</li>
    <li data-type="other">关闭其它</li>
    <li data-type="all">关闭所有</li>
</ul>
</body>
</html>