<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台管理-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/weadmin.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>

</head>

<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a>欢迎使用任务接单系统</a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">${USER_ATTR.username}</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a id="user_info">个人信息</a>
                </dd>
                <dd>
                    <a class="loginout" href="/api/logout">退出</a>
                </dd>
            </dl>
        </li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="open">
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu" style="display: block;">
                    <li>
                        <a _href="/user/list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户组</cite>
                        </a>
                        <#if groupList?? && groupList?size!=0>
                        <ul class="sub-menu">
                            <#list groupList as group>
                            <li>
                                <a _href="/user/list?groupId=${group.id}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>${group.name}</cite>
                                </a>
                            </li>
                            </#list>
                        </ul>
                        </#if>
                    </li>
                    <#if USER_ATTR.roleName == 'general_user' && USER_ATTR.status != 1>
                        <li>
                            <a _href="/user/receive">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户权限申请</cite>
                            </a>
                        </li>
                    </#if>
                    <#if USER_ATTR.roleName == 'admin'|| USER_ATTR.roleName == 'general_admin'>
                        <li>
                            <a _href="/user/apply">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户权限审批</cite>
                            </a>
                        </li>
                    </#if>
                    <#if USER_ATTR.roleName == 'admin'>
                        <li>
                            <a _href="/group/list">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户组管理</cite>
                            </a>
                        </li>
                    </#if>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>任务管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/task/list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>任务大厅</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/task/mylist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的任务</cite>
                        </a>
                    </li>
                    <#if USER_ATTR.roleName == 'admin'|| USER_ATTR.roleName == 'general_admin'>
                        <li>
                            <a _href="/task/manager">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>任务管理</cite>
                            </a>
                        </li>
                    </#if>

                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
        <ul class="layui-tab-title" id="tabName"></ul>
        <div class="layui-tab-content"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2018 任务接单系统</div>
</div>
<!-- 底部结束 -->
<script type="text/javascript">
    layui.config({ base: '{/}/js/', version: '101100'});
    layui.use(['jquery', 'admin'], function () {
        var $ = layui.jquery;
    });
</script>

<script type="text/javascript">
    layui.use(['table','jquery','layer'], function () {
        var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var jquery = layui.jquery;
        jquery("#user_info").on("click", function () {
            layer.open({
                type: 2,
                title: "修改个人信息",
                content: "/user/userEdit",
                area: ["35%", "50%"],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var iframeWindow = window['layui-layer-iframe' + index];
                    //监听提交
                    iframeWindow.layui.form.on('submit(user_info)', function (data) {
                        var field = data.field; //获取提交的字段
                        jquery.ajax({
                            type: 'PUT',
                            url: "/api/users/info",
                            contentType: 'application/json',
                            data: JSON.stringify(
                                data.field
                            ),
                            success: function (data, textStatus, jqXHR) {
                                if (data.code == "200") {
                                    location.href='./login';
                                } else {
                                    layer.close(index); //关闭弹层
                                    layer.open({content: data.message, shade: [0.8, '#393D49']});
                                }
                            },
                            dataType: "json"
                        });
                    });

                    iframeWindow.layui.jquery("#user_info").click()
                },
                success: function (e, t) {
                }
            })
        });
    });
</script>
</body>
<!--Tab菜单右键弹出菜单-->
<ul class="rightMenu" id="rightMenu">
    <li data-type="fresh">刷新</li>
    <li data-type="current">关闭当前</li>
    <li data-type="other">关闭其它</li>
    <li data-type="all">关闭所有</li>
</ul>

</html>