<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.mapper.ApplyPermissionMapper">
  <resultMap id="BaseResultMap" type="com.task.entity.ApplyPermission">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="permission_name" jdbcType="VARCHAR" property="permisssionName" />
    <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="approver_user_id" jdbcType="VARCHAR" property="approverUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from apply_permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.task.entity.ApplyPermission">
    insert into apply_permission (id, `permission_name`, apply_user_id,state,description,approver_user_id,create_time)
    values (#{id,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{applyUserId,jdbcType=VARCHAR},
            #{state,jdbcType=INTEGER},#{description,jdbcType=VARCHAR},#{approverUserId,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.task.entity.Permission">
    update apply_permission
    set  permission_name = #{permissionName,jdbcType=VARCHAR}, apply_user_id = #{applyUserId,jdbcType=VARCHAR},
           state =  #{state,jdbcType=INTEGER},description = #{description,jdbcType=VARCHAR},approver_user_id= #{approverUserId,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP}, update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `permission_name`, apply_user_id,state,description,approver_user_id,create_time ,update_time
    from apply_permission
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `permission_name`, apply_user_id,state,description,approver_user_id,create_time ,update_time
    from apply_permission
  </select>

</mapper>