<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.task.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.task.entity.User" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(UUID(), '-', '')
    </selectKey>
    insert into user (id, username, `password`, 
      phone, group_id, role_id, 
      `status`, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.task.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, username, `password`, phone, group_id, role_id, `status`, create_time, 
    update_time
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, `password`, phone, group_id, role_id, `status`, create_time, 
    update_time
    from user
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select u.id, u.username, u.`password`, u.phone, g.name AS group_name, r.name AS role_name, u.`status`, u.create_time,
    u.update_time
    from user u
    LEFT JOIN `group`  g ON u.group_id = g.id
    LEFT JOIN role r ON u.role_id = r.id
    WHERE u.username = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="selectByGroup" parameterType="java.lang.String" resultMap="BaseResultMap">
    select u.id, u.username, u.`password`, u.phone, g.name AS group_name, r.name AS role_name, u.`status`, u.create_time,
    u.update_time
    from user u
    LEFT JOIN `group`  g ON u.group_id = g.id
    LEFT JOIN role r ON u.role_id = r.id
    WHERE  u.group_id = #{groupId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByNameAndPassword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, username, `password`, phone, group_id, role_id, `status`, create_time,
    update_time
    from user
    WHERE  username = #{userName,jdbcType=VARCHAR} AND password = #{password,jdbcType = VARCHAR}
  </select>
</mapper>